/* CSS for website */

.book-body p , .book-body h1,.book-body h2,.book-body h3,.book-body h4,.book-body h5,.book-body h6,.book-body div,.book-body span ,  .summary , .summary li , .summary li a  {
    font-family : medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}


.book .book-body .page-wrapper .page-inner section.normal code {
	font-family: Menlo ,Monaco, Consolas, Courier, "WenQuanYi Micro Hei Mono", "Courier New", monospace;
}

/* yahei */

/*
.book-body p , .book-body h1,.book-body h2,.book-body h3,.book-body h4,.book-body h5,.book-body h6,.book-body div,.book-body span ,  .summary , .summary li , .summary li a  {
    font-family : "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft Yahei", sans-serif;
}


.book .book-body .page-wrapper .page-inner section.normal code {
	font-family: Consolas, Menlo, Courier, 'WenQuanYi Micro Hei Mono', monospace;
}
*/